<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <title>Account Recovery</title>
</head>

<body>
    {%if recovery_form %}
    <div class="container">
        <div class="mx-2">
            <div class="col-md-6 mx-auto text-center">
                <div class="header-title border border-dark form-bg p-3">
                    <h1 class="wv-heading--title">
                        Account Recovery
                    </h1>
                    <h2 class="wv-heading--subtitle">
                        Please type your email and birthdate.
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="mx-auto border border-dark p-5 form-bg col-xl-6">
                    <div class="myform form ">
                        <form action="/recoveryquestion" method="POST">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control my-input" id="email"
                                    placeholder="Email" value="dagasannuri@gmail.comm" required>
                            </div>
                            <div class="form-group">
                                <label for="date-input" class="font-color">Birthdate</label>
                                <input class="form-control my-input" name="birthdate" type="date" value="2011-08-19"
                                    id="date-input" placeholder="date" required>
                            </div>
                            <h4 class="text-danger">{{check_input | safe}}</h1>
                                <div class="text-center py-1 ">
                                    <button type="submit"
                                        class="btn btn-block btn-lg login-button p-2 mt-3">Next</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {%if password_form %}
    <div class="container">
        <div class="mx-2">
            <div class="col-md-6 mx-auto text-center">
                <div class="header-title border border-dark form-bg p-3">
                    <h1 class="wv-heading--title">
                        Please Type Your Username, Account Recovery Question and New Password
                    </h1>
                    <h2 class="wv-heading--subtitle text-success">
                        {{recovery_question}}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto border border-dark p-5 form-bg col-xl-6">
                    <div class="myform form ">
                        <form action="/changepassword" method="POST">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control my-input" id="user-name"
                                    placeholder="Username" pattern="[a-zA-Z0-9-]+" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="recovery-answer" class="form-control my-input" id="user-name"
                                    placeholder="Answer" pattern="[a-zA-Z0-9-]+" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control my-input"
                                    placeholder="New Password" required>
                                <div class="pt-2 font-color">
                                    <li>Your new password must be at least 10 characters, maximum 20 characters</li>
                                    <li>Your new password must contain at least 1 number</li>
                                    <li>Your new password must contain at least 1 upper case</li>
                                    <li>Your new password must contain at least 1 special character</li>
                                    <li>Your new password must not include your Name or Surname</li>
                                </div>
                            </div>
                            <h5 class="text-danger">{{check_input | safe}}</h5>
                            <div class="text-center py-1 ">
                                <button type="submit" class="btn btn-block btn-lg login-button p-2 mt-3">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {%if validated_password %}
    <div class="mx-auto text-center">
        <div class="header-title border border-dark form-bg p-3">
            <h1 class="wv-heading--title">
                Your password is successfully changed!
            </h1>
            <h2 class="wv-heading--subtitle text-success">
                <a href="/login"> CLICK HERE </a> to login
            </h2>
        </div>
    </div>
    {% endif %}

</body>

</html>