<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light pb-3" id="navbar-bg">
    <a class="navbar-brand" href="#">
      <img src="{{url_for('static', filename='world.png')}}" width="75" height="75" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navbar-font-size" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown float-right">
          <a class="nav-link dropdown-toggle navbar-font-size" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home/singapore">Singapore</a>
            <a class="dropdown-item" href="/home/france">France</a>
            <a class="dropdown-item" href="/home/italy">Italy</a>
            <a class="dropdown-item" href="/home/spain">Spain</a>
            <a class="dropdown-item" href="/home/england">England</a>
            <a class="dropdown-item" href="/home/turkey">Turkey</a>
            <a class="dropdown-item" href="/home/germany">Germany</a>
            <a class="dropdown-item" href="/home/netherlands">Netherlands</a>
            <a class="dropdown-item" href="/home/finland">Finland</a>
            <a class="dropdown-item" href="/home/norway">Norway</a>
            <a class="dropdown-item" href="/home/sweden">Sweden</a>
        </li>
      </ul>

      {% if home_buttons %}
      <a class="nav-link navbar-font-size text-color" href="/profile">Profile <span class="sr-only">(current)</span></a>
      <a class="nav-link navbar-font-size" href="/logout" method="POST">Logout <span
          class="sr-only">(current)</span></a>
      {% else %}
      <a class="nav-link navbar-font-size text-color" href="/signup">Signup <span class="sr-only">(current)</span></a>
      <a class="nav-link navbar-font-size" href="/login">Login <span class="sr-only">(current)</span></a>
      {% endif %}
    </div>
  </nav>
  <div class="bg-image">
    <div class="container">
      <div class="row justify-content-md-center">
        {% if create_form %}
        <div class="col-xl-6 col-lg-6 mt-4 table-bg">
          <form method="POST">
            <div class="form-group pt-4">
              <input class="form-control" name="post-title" type="text" placeholder="Post Title" required>
            </div>
            <div class="form-group m-0">
              <label for="inputState">Choose Your Country</label>
              <select id="inputState" name="country" class="form-control">
                <option selected>Singapore</option>
                <option>France</option>
                <option>Italy</option>
                <option>Spain</option>
                <option>England</option>
                <option>Turkey</option>
                <option>Germany</option>
                <option>Netherlands</option>
                <option>Netherlands</option>
                <option>Finland</option>
                <option>Norway</option>
                <option>Sweden</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="post-content" rows="5"
                placeholder="Your Post" required></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-3">
              <button class="btn btn-primary me-md-2" type="submit">Create Post</button>
            </div>
          </form>
        </div>
        {% endif %}
        <div class="col-xl-5 col-lg-5 m-4 table-bg">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Post Numbers</th>
              </tr>
            </thead>
            <tbody>
              {%for i in range(0, len_countries)%}
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{fav_countries[i].title() | safe}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container user-posts">
      {%for i in range(0, len)%}
      <div class="row  justify-content-center">
        <div class="col-10 p-4 m-3" id="post-content-bg">
          <h5 id="post-title p-4">{{posts[i]["title"].title() | safe}}</h5>
          <span class="d-md-flex top-right-corner p-2" id="user-country"><i>{{posts[i]["country"].title() | safe}}</i></span>
          <p class="p-4"> <span id="author"><a href="/user/{{posts[i]["author"] | safe}}">{{posts[i]["author"].title() | safe}}</a></span> : {{posts[i]["content"] | safe}}
          </p>
          <span class="d-md-flex bottom-right-corner p-2" id="content-date"><i>{{posts[i]["date"] | safe}}</i></span>
        </div>
      </div>
      {%endfor%}
    </div>

  </div>
</body>

</html>

