<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  
    <title>Document</title>
</head>

<body class="login-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light pb-3" id="navbar-bg">
        <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='world.png')}}" width="75" height="75" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link navbar-font-size" href="/home">Home<span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="mx-2">
            <div class="col-md-6 mx-auto text-center">
                <div class="header-title border border-dark form-bg p-3">
                    <h1 class="wv-heading--title">
                        Welcome to TRAVELLY!
                    </h1>
                    <h2 class="wv-heading--subtitle">
                        Login Your Account Now!
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto border border-dark p-5 form-bg col-xl-6">
                    <div class="myform form ">
                        <form action="/login" method="post" name="login" id="login-form">
                            <div class="form-group">
                                <input type="hidden" name="csrf_token" value={{csrf_token}} />
                                <input type="text" name="username" class="form-control my-input" id="user-name"
                                    placeholder="Username" pattern="[a-zA-Z0-9-]+" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control my-input"
                                    placeholder="Password" required>
                                <div>
                                    <h5 class="text-danger mt-3">{{check_input}}</h5>
                                </div>
                                <div class="text-center py-1 ">
                                    <button type="submit"
                                        class="btn btn-block btn-lg login-button p-2 mt-3">Login</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="login-or">
                                        <hr class="hr-or">
                                        <span class="span-or">or</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-block btn-lg signup-button" href="/signup">
                                        Create Your Free Account
                                    </a>
                                </div>
                            </div>
                        </form>
                        <p class="d-flex justify-content-center small mt-3">Did you forget your password ? &nbsp;<a
                                href="/accountrecovery"> CLICK HERE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>