<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <title>Not Found 404</title>
</head>

<body id = "error-body-bg">
            <div class="d-flex justify-content-center font-error-title text-light">
                404!
            </div>
            <div class="d-flex justify-content-center display-3 text-light bg-dark">
                There's NOTHING here...
            </div>
            <div class="d-flex justify-content-center text-light bg-dark">
                ...maybe the page you're looking for is not found or never existed.
            </div>
            <div class="d-flex justify-content-center bg-dark text-light">
            <p><a href="/home" class="text-success">Click Here </a>go back to home page</p>
        </div>
</body>

</html>