.bg-image { 
    background: url("https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#navbar-bg {
    background-color: rgb(218, 249, 255)!important;
} 

.navbar-font-size {
font-size : 1.4rem!important;
}

.text-color {
    color:rgb(0, 0, 0);
}

#author {
    color:rgb(0, 0, 0);
    font-weight: 600!important;
}

#post-content-bg{
    background-color: #fcfcfc;
}

.top-right-corner{
    position:absolute;
    top:0;
    right:0;
    color:rgb(0, 0, 0);
    font-weight: 600!important;
   }

.bottom-right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.table-bg {
background-color: #f8f8f8!important;
}
  